<div class="container mt-5 d-flex justify-content-center"><h1>Ajouter un utilisateur</h1></div>

<div class="container mt-5">
    <form (ngSubmit)="onSubmit()" #formAccount="ngForm">
      <div class="row">
        <div  class="col-6 mx-auto">
            <label for="name">Nom réel</label>
            <input class="form-control"
                 placeholder="Nom réel"
                 type="text"
                 required
                 minlength="3"
                 pattern="[a-zA-Z'\-'\s]*"
                 [(ngModel)]="user.username"
                 [name]="'name'"
                 [class.is-invalid]="nameInput.touched && nameInput.invalid"
                 [class.is-valid]="nameInput.touched && nameInput.valid"
                 #nameInput="ngModel"
            >
            <label for="email">Email</label>
            <input class="form-control"
                    placeholder="Email"
                    type="text"
                    required
                    minlength="3"
                    pattern="[a-zA-Z@\-\.\s]*"
                    [(ngModel)]="user.email"
                    [name]="'email'"
                    [class.is-invalid]="emailInput.touched && emailInput.invalid"
                    [class.is-valid]="emailInput.touched && emailInput.valid"
                    #emailInput="ngModel"
            >
            <label for="nickname">Pseudonyme</label>
            <input class="form-control"
                 placeholder="Pseudonyme"
                 type="text"
                 required
                 minlength="3"
                 pattern="[a-zA-Z'\-'\s]*"
                 [(ngModel)]="user.lastName"
                 [name]="'nickname'"
                 [class.is-invalid]="nicknameInput.touched && nicknameInput.invalid"
                 [class.is-valid]="nicknameInput.touched && nicknameInput.valid"
                 #nicknameInput="ngModel"
          >
          <div><p>Le wallet et la library seront vides par défaut.</p></div>
        </div>
      </div>
      <div class="mx-auto d-flex justify-content-center">
        <button class="btn btn-primary" [disabled]="formAccount.invalid">
          Soumettre
        </button>
      </div>
    </form>
  </div>
  
  