################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/sketchAppLourde.bmpr
/tagmanager/3DModelWebsite.TagManager/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
