################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/sketchAppLourde.bmpr
/tagmanager/3DModelWebsite.TagManager/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/tagmanager/3DModelWebsite.TagManager/.vs/3DModelWebsite.TagManager/v17/.futdcache.v1
/tagmanager/3DModelWebsite.TagManager/.vs/3DModelWebsite.TagManager/project-colors.json
/tagmanager/3DModelWebsite.TagManager/bin/Debug/net6.0
/tagmanager/3DModelWebsite.TagManager/obj/Debug/net6.0/ref/3DModelWebsite.TagManager.dll
/tagmanager/3DModelWebsite.TagManager/obj/Debug/net6.0/ref
/tagmanager/3DModelWebsite.TagManager/obj/Debug/net6.0/apphost.exe
/tagmanager/3DModelWebsite.TagManager/obj/Debug/net6.0/3DModelWebsite.TagManager.pdb
/tagmanager/3DModelWebsite.TagManager/obj/Debug/net6.0/3DModelWebsite.TagManager.genruntimeconfig.cache
/tagmanager/3DModelWebsite.TagManager/obj/Debug/net6.0/3DModelWebsite.TagManager.dll
/tagmanager/3DModelWebsite.TagManager/obj/Debug/net6.0/3DModelWebsite.TagManager.csproj.FileListAbsolute.txt
/tagmanager/3DModelWebsite.TagManager/obj/Debug/net6.0/3DModelWebsite.TagManager.csproj.CoreCompileInputs.cache
