<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                <img src="assets/img/Fantastic3DLogo.png" class="logo">
            </a>
            <span class="navbar-brand">Fantastic 3D Manager</span>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="Users">Utilisateurs</a>
            </li>
            <li>
                <a href="Configuration">Configuration</a>
            </li>
        </ul>
    </div>
</nav>