<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                <img src="assets/img/Fantastic3DLogo.png" class="logo">
            </a>
        </div>
        <div class="nav navbar-nav">
            <button routerLink="/user" class="btn btn-primary" [disabled]="!{ apiIsOnline }">Utilisateurs</button>
            <button href="Configuration" class="btn btn-primary">Configuration</button>
        </div>
    </div>
</nav>
<div *ngIf="!{ apiIsOnline }" class="d-flex justify-content-center">
    <p>L'API n'est pas disponible. <button class="btn btn-secondary" (click)="tryLoadApi()">Essayer de recharger</button></p>
</div>